*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* menu fixed */
header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 50;

    /* DEBUG */
    background-color: #FF6900 ;
}

/* container */
.container{
    width: 80%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
   
}

/* menu sx */
.list{
    display: flex;
    justify-content: space-between;
    width: 13%;
    list-style-type: none;
    color: white;
}

/* logo */
.logo{
    width: 8%;
}

/* icone */
.list.icon{
    justify-content: right;
}



/* corpo e-commerce */

/* main container */
.main-container{
    width: 80%;
    min-height: ;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

    
.row{
    min-height: 500px;
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.img{
    margin-top: 160px ;
    width: 438px;
    position: relative;
}
   
.sconto {
    background-color: red;
    color: white;
}

.label{
    position: absolute;
    bottom: 100px;
    left: 0;
}
.eco{
    background-color: green;
    color: white;
}
.prezzo{
    text-decoration: line-through;
}

.fa-heart{
    position: absolute;
    right: 100;
    right: 0px;
    top: 190px;
}

.fa-heart:hover{
    color:red;
}

.position-conteiner{
    margin: 10px;
    width: calc(33% - 20px);
    position: relative;
    cursor: pointer;
}


.img.center{
    margin: 160px 20px 0px 10px;
}

/* item1 */
.prezzo-scontato{
    color: red;
}


.prezzo{
    text-decoration: line-through;
}

/* hover img */

.nth1:hover{
   content: url(img/1b.webp);
}

.nth2:hover{
    content: url(img/2b.webp);
 }

 .nth3:hover{
    content: url(img/3b.webp);
 }

 .nth4:hover{
    content: url(img/4b.webp);
 }

 .nth5:hover{
    content: url(img/5b.webp);
 }

 .nth6:hover{
    content: url(img/6b.webp);
 }






/* footer */
footer{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #1A1A1A;
    margin-top: 80px;
}



.container-footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: white;
    font-size: 10px;
    line-height: 13px;
    margin: auto;
   
}

